---
version: '3.5'

volumes:
  # using external volumes to prevent accidental data loss when containers are destroyed/rebuilt
{% for vol in nginxdc_ext_volumes %}
  {{ vol['name'] }}:
    external: yes
    name: {{ vol['name'] }}
{% endfor %}


services:

  nginx:
    image: nginx:1.17.8-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - {{ nginxdc_compose_cfg_dir }}/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - {{ nginxdc_compose_cfg_dir }}/nginx/conf.d:/etc/nginx/conf.d:ro
      - nginx_var_www_html:{{ nginxdc_fact_vol_dict['nginx_var_www_html']['path_c'] }}
      - nginx_etc_ssl_sslgen:{{ nginxdc_fact_vol_dict['nginx_etc_ssl_sslgen']['path_c'] }}:ro
{% if nginxdc_le_enable | bool %}
      - nginx_etc_letsencrypt:{{ nginxdc_fact_vol_dict['nginx_etc_letsencrypt']['path_c'] }}
      - nginx_var_lib_letsencrypt:{{ nginxdc_fact_vol_dict['nginx_var_lib_letsencrypt']['path_c'] }}
{% endif %}

{% if nginxdc_le_enable | bool %}
  certbot:
    image: certbot/certbot:v1.1.0
    container_name: certbot
    restart: unless-stopped
    volumes:
      - nginx_var_www_html:{{ nginxdc_fact_vol_dict['nginx_var_www_html']['path_c'] }}
      - nginx_etc_ssl_sslgen:{{ nginxdc_fact_vol_dict['nginx_etc_ssl_sslgen']['path_c'] }}:ro
      - nginx_etc_letsencrypt:{{ nginxdc_fact_vol_dict['nginx_etc_letsencrypt']['path_c'] }}
      - nginx_var_lib_letsencrypt:{{ nginxdc_fact_vol_dict['nginx_var_lib_letsencrypt']['path_c'] }}
    depends_on:
      - nginx
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h; done;'"
{% endif %}
